/* Typography */
:root {
  --primaryColor: #2584ff;
  --secondaryColor: #00d9ff;
  --accentColor: #ff3400;
  --headingsColor: #1b0760;
  --paragraphColor: #918ca4;
  --border-radius: 30px;
  --border-color: #ccc;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: Inter, Arial, Arial, Helvetica, sans-serif;
  color: var(--paragraphColor);
  font-size: 1.3rem;
  line-height: 1.5;
}

h1,
h2,
h3 {
  color: var(--headingsColor);
  margin-bottom: 0.8rem;
  line-height: 1.1;
}

h1 {
  font-size: 3.75rem;
}
h2 {
  font-size: 2.5rem;
}
h3 {
  font-size: 1.75rem;
  font-weight: 600;
  line-height: 1.3;
}
p {
  margin-top: 0;
}
@media screen and (min-width: 1024px) {
  body {
    font-size: 1.1rem;
  }
  h1 {
    font-size: 5rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.5rem;
  }
}

/* Links */ /* Links */
a {
  text-decoration: none;
}

.link-arrow {
  color: var(--accentColor);
  font-size: 1.25rem;
  font-weight: bold;
  text-transform: uppercase;
  transition: margin 0.15s;
}
.link-arrow::after {
  content: "-->";
  margin: 5px;
}
.link-arrow:hover::after {
  margin: 10px;
}

@media screen and (min-width: 1024px) {
  .link-arrow {
    font-size: 1rem;
  }
}

/* badges */ /* badges */
.badge {
  border-radius: 20px;
  font-size: 1.25rem;
  font-weight: 600;
  padding: 0.5rem 1rem;
  white-space: nowrap;
}
.badge--primary {
  background-color: var(--primaryColor);
  color: #fff;
}
.badge--secondary {
  background-color: var(--secondaryColor);
  color: #fff;
}
.badge--small {
  padding: 0.3rem 0.8rem;
  font-size: 1rem;
  margin-left: 8px;
}

@media screen and (min-width: 1024px) {
  .badge {
    font-size: 1rem;
  }
  .badge--small {
    font-size: 0.75rem;
  }
}

/* lists */ /* lists */
.list {
  color: var(--headingsColor);
  list-style: none;
  padding-left: 0;
}
.list--inline .list__item {
  display: inline-block;
  margin-right: 1rem;
}
.list p {
  color: #7b858b;
}

.list--tick {
  list-style-image: url(../images/tick.svg);
  padding-left: 2rem;
}

.list--tick .list__item {
  padding-left: 0.5rem;
  margin-bottom: 1.25rem;
}

@media screen and (min-width: 1024px) {
  .list--tick .list__item {
    padding-left: 0;
  }
}
/* icon */ /* icon */
.icon {
  width: 40px;
  height: 40px;
}
.icon--small {
  width: 30px;
  height: 30px;
}
.icon--primary {
  fill: var(--primaryColor);
}

.icon--white {
  fill: #fff;
}
.icon-container {
  background-color: #f3f9fa;
  width: 64px;
  height: 64px;
  border-radius: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.icon-container--accent {
  background-color: var(--accentColor);
}

/* Buttons */ /* Buttons */

.button {
  border-radius: var(--border-radius);
  text-transform: uppercase;
  font-size: 1.1rem;
  border: none;
  cursor: pointer;
  font-weight: 600;
  padding: 1.25rem 4vw;
  white-space: nowrap;
}

.button .icon {
  width: 1.25rem;
  height: 1.25rem;
  margin-right: 0.6rem;
  vertical-align: middle;
}

.button--larger {
  padding: 1.25rem 3.75rem;
}

.button--primary {
  background: var(--primaryColor);
  color: #fff;
}
.button--primary:hover {
  background: #1263cc;
}

.button--secondary {
  background: var(--secondaryColor);
  color: #fff;
}
.button--secondary:hover {
  background: #0694ad;
}

.button--accent {
  background: var(--accentColor);
  color: #fff;
}
.button--accent:hover {
  background: #d32c03;
}

.button--outline {
  background: #fff;
  color: var(--headingsColor);
  border: 2px solid var(--headingsColor);
}
.button--outline:hover {
  background: var(--headingsColor);
  color: #fff;
}

.button--block {
  width: 100%;
  display: inline-block;
}

@media screen and (min-width: 1024px) {
  .button {
    font-size: 0.95rem;
  }
}

/* inputs */ /* inputs */

.input {
  border-radius: var(--border-radius);
  border: 2px solid var(--border-color);
  color: var(--headingsColor);
  font-size: 1.25rem;
  outline: none;
  padding: 1.25rem 1.8rem;
}

.input::placeholder {
  color: rgb(219, 216, 216);
}

.input-group {
  border: 2px solid var(--border-color);
  border-radius: var(--border-radius);
  display: flex;
}

.input-group .input {
  border: none;
  flex-grow: 1;
  padding: 1.25rem;
  width: 0;
}

.input-group .button {
  margin: 4px;
}

@media screen and (min-width: 1024px) {
  .input {
    font-size: 1rem;
  }
}

/* cards */ /* cards */

.card {
  border-radius: 7px;
  box-shadow: 0 0 20px 10px #f3f3f3;
  margin: 0 auto;
  overflow: hidden;
}

.card__header,
.card__body {
  padding: 1.25rem 1.8rem;
}

.card--primary .card__header {
  background: var(--primaryColor);
  color: #fff;
}

.card--secondary .card__header {
  background: var(--secondaryColor);
  color: #fff;
}

/* plan */ /* plan */

.plan__name {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 500;
  margin: 0;
}
.plan__price {
  font-size: 3.75rem;
}
.plan__pay-cycle {
  opacity: 0.7;
}
.plan .badge--primary {
  background: #0f6ee9;
}

.plan .badge--secondary {
  background: #2bcfeb;
}

.plan-discraption {
  display: block;
  font-size: 1.25rem;
  font-weight: 300;
}

.plan--popular .card__header {
  position: relative;
}
.plan--popular .card__header::before {
  content: url(../images/popular.a6fe98f3.svg);
  width: 40px;
  display: inline-block;
  position: absolute;
  top: -6px;
  right: 5%;
}
.plan:hover {
  transform: scale(1.05);
}
.plan--popular:hover {
  transform: scale(1.15);
}

@media screen and (min-width: 1024px) {
  .plan__name {
    font-size: 0.9rem;
  }

  .plan--popular {
    transform: scale(1.1);
  }

  .plan__price {
    font-size: 3.1rem;
  }
  .plan__pay-cycle {
    font-size: 1rem;
  }
  .plan-discraption {
    font-size: 1rem;
  }
}

/* media */ /* media */
.media {
  display: flex;
  margin-bottom: 2.5rem;
}
.media__title {
  margin-top: 0;
}
.media__body {
  margin: 0 1.25rem;
}
.media__image {
  margin-top: 0.6rem;
}

/* quote */ /* quote */
.quote {
  font-size: 1.4rem;
  font-style: italic;
  color: #5c5577;
  line-height: 1.3;
}
.quote__author {
  font-size: 1.25rem;
  font-weight: 500;
  font-style: normal;
  position: relative;
  margin-bottom: 0;
}
.quote__sign::before {
  content: open-quote;
}
.quote__sign::after {
  content: close-quote;
}
.quote__author::before {
  content: "";
  width: 51px;
  height: 2px;
  position: absolute;
  top: 17px;
  left: -67px;
  background: #63c3ef;
}
.company__name {
  font-size: 1rem;
  font-style: normal;
  opacity: 0.5;
}
.quote__footer {
  margin-left: 69px;
}

@media screen and (min-width: 1024px) {
  .quote {
    font-size: 1.25rem;
  }
  .quote__author {
    font-size: 1.5rem;
  }
  .company__name {
    font-size: 1rem;
  }
}

/* grid */ /* grid */
.grid {
  display: grid;
}

@media screen and (min-width: 768px) {
  .grid--1x2 {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  .grid--1x3 {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* testimonial */
.testimonial {
  padding: 2rem;
}

.testimonial__image {
  position: relative;
  margin: 0 1.8rem;
}

.testimonial__image img {
  width: 100%;
}

.testimonial__image .icon-container {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, 50%);
}

@media screen and (min-width: 768px) {
  .testimonial .quote__author {
    font-size: 1.5rem;
  }
  .testimonial__image {
    margin: 0;
  }
  .testimonial .quote {
    margin: 3.1rem 0 0 3.75rem;
    line-height: 1.5;
    font-size: 1.35rem;
  }
}

/* callouts */
.callout {
  text-align: center;
  padding: 2.5rem;
}
.callout--primary {
  background: var(--primaryColor);
  color: #fff;
}
.callout__heading {
  color: #fff;
  font-size: 2rem;
  margin-top: 0;
  margin-bottom: 10px;
}
.callout .button {
  justify-self: center;
  align-self: center;
}
@media screen and (min-width: 768px) {
  .callout {
    text-align: left;
  }
  .callout .button {
    justify-self: start;
    margin: 0 1.5rem;
  }

  .callout .grid--1x2 {
    grid-template-columns: 1fr auto;
  }
}
/* collapsible  */
.collapsible {
  background: #232323;
}
.collapsible__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.collapsible__title {
  color: #fff;
  margin: 0;
}
.shape {
  background: #393939;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: relative;
  left: -18px;
  transition: transform 0.3s;
}
.shape::after {
  content: "";
  border: solid 10px transparent;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-16%, -50%);
  border-left-color: #fff;
}
.collapsible__content {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.3s;
}

.collapsible--expanded .shape {
  transform: rotate(90deg);
  transition: transform 0.3s;
}

.collapsible--expanded .collapsible__content {
  max-height: 100vh;
  opacity: 1;
  transition: max-height 1s;
}

/* blocks */
.block {
  --padding-vertical: 3.75rem;
  padding: var(--padding-vertical) 1.25rem;
  overflow-x: hidden;
}
.block--dark {
  background: #000;
  color: #7b858b;
}

.block--dark h1,
.block--dark h2,
.block--dark h3 {
  color: #fff;
}
.block__header {
  text-align: center;
  margin-bottom: 3.5rem;
}
.block__heading {
  margin-top: 0;
}
.block--dark .block__heading {
  color: #fff;
}
.block--skewed-left {
  padding-bottom: calc(var(--padding-vertical) + 4rem);
  clip-path: polygon(0% 0%, 100% 0%, 100% 95%, 0% 100%);
}

.block--skewed-right {
  padding-bottom: calc(var(--padding-vertical) + 4rem);
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 95%);
}
.container {
  max-width: 1140px;
  margin: 0 auto;
}
/* navigation bar */

.logo {
  position: relative;
  margin: 10px 22px;
  padding: 0 18px;
  color: #ffffffd6;
  font-size: 1.3rem;
  font-weight: bold;
}
.logo::before {
  content: "";
  width: 8px;
  height: 30px;
  background: #2584ff;
  position: absolute;
  top: -4px;
  left: -15px;
  border-radius: 30px;
  transform: rotate(45deg);
}
.logo::after {
  content: "";
  width: 8px;
  height: 29px;
  background: #ff3400;
  position: absolute;
  top: -1px;
  left: -1px;
  border-radius: 30px;
  transform: rotate(45deg);
}

.nav {
  background: #000;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0.4rem 0.8rem;
  align-items: center;
}
.nav__list {
  width: 100%;
  margin: 0;
}
.nav__item {
  padding: 0.4rem 1.25rem;
  border-bottom: solid 2px #222;
}
.nav__item > a {
  color: #d0d2db;
}
.nav__item > a:hover {
  color: #fff;
  transition: color 0.3s;
}
.nav .icon {
  opacity: 0.5;
  cursor: pointer;
}
.nav.collapsible--expanded .icon {
  opacity: 1;
  border-radius: 3px;
  transition: opacity 0.3s;
}

@media screen and (min-width: 768px) {
  .nav .icon {
    display: none;
  }
  .nav__list {
    width: auto;
    display: flex;
    font-size: 1rem;
    max-height: 100vh;
    opacity: 1;
  }
  .nav__item {
    border-bottom: none;
  }
}

/* Heros */
.hero {
  clip-path: polygon(0% 0%, 100% 0%, 100% 95%, 0% 100%);
}
.hero__p {
  font-size: 1.25rem;
  color: #b9c3cf;
  margin: 1.25rem 0 3rem;
}
.hero__image {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .hero__content {
    text-align: start;
    align-self: center;
  }
  .hero {
    padding-top: 0;
  }
}

/* block domain */
.block--domain .input-group {
  box-shadow: 0 0 30px 16px #e6ebee;
  border: none;
  max-width: 700px;
  margin: 2.5rem auto;
}

.block--domain .list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 3.75rem);
  justify-items: center;
  font-weight: 600;
  max-width: 700px;
  margin: auto;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .block--domain .list {
    grid-template-columns: repeat(auto-fit, minmax(6.25rem, 1fr));
    font-size: 1.25rem;
  }
}

/* plan block */
.plan {
  transition: transform 0.3s ease-out;
}
.block-plan .grid {
  gap: 5rem 2.5rem;
}

.block-plan .card {
  max-width: 500px;
  margin: 0 auto;
}

/* feature block  */
.feature {
  gap: 2.5rem 1.25rem;
}

.feature__heading {
  margin: 0.6rem 0;
  font-weight: 600;
}
.feature__content,
.feature__image {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .block:nth-of-type(odd) .feature__content {
    order: 2;
  }
}

/* Showcase Block */
.block-showcase__image > img {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .block-showcase .grid {
    grid-template-columns: 50% 50%;
  }

  .block-showcase__image {
    justify-self: end;
  }

  .block-showcase__image > img {
    width: 700px;
  }
}

/* footer */ /* footer */
.footer {
  background: #232323;
}
.footer__section {
  padding: 1.25rem;
}
.footer__section .list {
  margin: 0;
}
.footer__section li {
  color: #777;
  transition: color 0.3s;
  text-transform: capitalize;
}
.footer__section li:hover {
  color: #fff;
}
.footer__brand {
  padding: 1.25rem;
}

.footer__brand {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
}

.footer__logo {
  font-size: 2rem;
}

.footer__logo::before {
  height: 42px;
  top: 2px;
  left: -19px;
}

.footer__logo::after {
  height: 42px;
  top: 4px;
  left: -4px;
}

.footer__copyright {
  opacity: 0.3;
  color: #fff;
  text-align: center;
}

.footer .collapsible__title {
  font-size: 1.6rem;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  margin-bottom: 0.6rem;
}
@media screen and (min-width: 768px) {
  .gridF_wide {
    grid-template-columns: repeat(auto-fit, minmax(6.25rem, 1fr));
  }
  .footer .collapsible {
    border-bottom: none;
  }

  .footer__brand {
    order: -1;
    font-size: 1rem;
    align-content: flex-start;
    flex-direction: row;
  }
  .footer .shape {
    display: none;
  }
  .footer__logo {
    font-size: 1.3rem;
  }

  .footer__logo::before {
    height: 30px;
    top: -4px;
    left: -15px;
  }

  .footer__logo::after {
    height: 29px;
    top: -1px;
    left: -1px;
  }

  .collapsible__content {
    opacity: 1;
    max-height: 100%;
  }
  .footer .collapsible__title {
    font-size: 1.2rem;
  }

  .footer .list {
    font-size: 1.2rem;
  }
}
