/* Typography */
:root {
  --primaryColor: #2584ff;
  --secondaryColor: #00d9ff;
  --accentColor: #ff3400;
  --headingsColor: #1b0760;
  --paragraphColor: #918ca4;
  --border-radius: 30px;
  --border-color: #ccc;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: Inter, Arial, Arial, Helvetica, sans-serif;
  color: var(--paragraphColor);
  font-size: 1.5rem;
  line-height: 1.5;
}

h1,
h2,
h3 {
  color: var(--headingsColor);
  margin-bottom: 0.8rem;
}

h1 {
  font-size: 4.5rem;
}
h2 {
  font-size: 2.5rem;
}
h3 {
  font-size: 2rem;
}
p {
  margin-top: 0;
}
@media screen and (min-width: 1024px) {
  body {
    font-size: 1rem;
  }
  h1 {
    font-size: 5rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.5rem;
  }
}

/* Links */ /* Links */
a {
  text-decoration: none;
}

.link-arrow {
  color: var(--accentColor);
  font-size: 1.25rem;
  font-weight: bold;
  text-transform: uppercase;
  transition: margin 0.15s;
}
.link-arrow::after {
  content: "-->";
  margin: 5px;
}
.link-arrow:hover::after {
  margin: 10px;
}

@media screen and (min-width: 1024px) {
  .link-arrow {
    font-size: 1rem;
  }
}

/* badges */ /* badges */
.badge {
  border-radius: 20px;
  font-size: 1.25rem;
  font-weight: 600;
  padding: 0.5rem 1rem;
  white-space: nowrap;
}
.badge--primary {
  background-color: var(--primaryColor);
  color: #fff;
}
.badge--secondary {
  background-color: var(--secondaryColor);
  color: #fff;
}
.badge--small {
  padding: 0.3rem 0.8rem;
  font-size: 1rem;
  margin-left: 8px;
}

@media screen and (min-width: 1024px) {
  .badge {
    font-size: 1rem;
  }
  .badge--small {
    font-size: 0.75rem;
  }
}

/* lists */ /* lists */
.list {
  color: var(--headingsColor);
  list-style: none;
  padding-left: 0;
}
.list--inline .list__item {
  display: inline-block;
  margin-right: 1rem;
}

.list--tick {
  list-style-image: url(../images/tick.svg);
  padding-left: 2rem;
}

.list--tick .list__item {
  padding-left: 0.5rem;
  margin-bottom: 1.25rem;
}

@media screen and (min-width: 1024px) {
  .list--tick .list__item {
    padding-left: 0;
  }
}
/* icon */ /* icon */
.icon {
  width: 40px;
  height: 40px;
}
.icon--primary {
  fill: var(--primaryColor);
}
.icon-container {
  background-color: #f3f9fa;
  width: 64px;
  height: 64px;
  border-radius: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

/* Buttons */ /* Buttons */

.button {
  border-radius: var(--border-radius);
  text-transform: uppercase;
  font-size: 1.1rem;
  border: none;
  cursor: pointer;
  font-weight: 600;
  padding: 1.25rem 1.8rem;
}

.button--primary {
  background: var(--primaryColor);
  color: #fff;
}
.button--primary:hover {
  background: #1263cc;
}

.button--secondary {
  background: var(--secondaryColor);
  color: #fff;
}
.button--secondary:hover {
  background: #0694ad;
}

.button--accent {
  background: var(--accentColor);
  color: #fff;
}
.button--accent:hover {
  background: #d32c03;
}

.button--outline {
  background: #fff;
  color: var(--headingsColor);
  border: 2px solid var(--headingsColor);
}
.button--outline:hover {
  background: var(--headingsColor);
  color: #fff;
}

.button--block {
  width: 100%;
  display: inline-block;
}

@media screen and (min-width: 1024px) {
  .button {
    font-size: 0.95rem;
  }
}

/* inputs */ /* inputs */

.input {
  border-radius: var(--border-radius);
  border: 2px solid var(--border-color);
  color: var(--headingsColor);
  font-size: 1.25rem;
  outline: none;
  padding: 1.25rem 1.8rem;
}

.input::placeholder {
  color: rgb(219, 216, 216);
}

.input-group {
  border: 2px solid var(--border-color);
  border-radius: var(--border-radius);
  display: flex;
}

.input-group .input {
  border: none;
  flex-grow: 1;
  padding: 1.25rem;
}

.input-group .button {
  margin: 4px;
  padding: 1.25rem;
}

@media screen and (min-width: 1024px) {
  .input {
    font-size: 1rem;
  }
}

/* cards */ /* cards */

.card {
  border-radius: 7px;
  box-shadow: 0 0 20px 16px #f3f3f3;
  margin: 20px auto;
  overflow: hidden;
}

.card__header,
.card__body {
  padding: 1.25rem 1.8rem;
}

.card--primary .card__header {
  background: var(--primaryColor);
  color: #fff;
}

.card--secondary .card__header {
  background: var(--secondaryColor);
  color: #fff;
}

/* plan */ /* plan */

.plan__name {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 500;
  margin: 0;
}
.plan__price {
  font-size: 3.75rem;
}
.plan__pay-cycle {
  opacity: 0.7;
}
.plan .badge--primary {
  background: #0f6ee9;
}

.plan .badge--secondary {
  background: #2bcfeb;
}

.plan-discraption {
  display: block;
  font-size: 1.25rem;
  font-weight: 300;
}

.plan .button {
  background: var(--headingsColor);
}

.plan--popular .card__header {
  position: relative;
}
.plan--popular .card__header::after {
  content: url(../images/popular.svg);
  width: 40px;
  display: inline-block;
  position: absolute;
  top: -5px;
  right: 5%;
}

@media screen and (min-width: 1024px) {
  .plan__name {
    font-size: 0.9rem;
  }

  .plan__price {
    font-size: 3.1rem;
  }
  .plan__pay-cycle {
    font-size: 1rem;
  }
  .plan-discraption {
    font-size: 1rem;
  }
}
